<div #pageTop>
    <app-nav *ngIf="showHomeButton" />

    <main class="bg-black">
        <router-outlet />
    </main>

    <app-footer />
</div>

<ng-container *ngIf="shouldScrollToTopIcon">
    <div class="relative">
        <button class="fixed flex justify-center items-center bottom-8 right-8 h-12 w-12 rounded-full"
            (click)="onScrollToTop()">
            <mat-icon class="text-white hover:text-red-500 transition ease-in-out">arrow_upward</mat-icon>
        </button>
    </div>
</ng-container>

<app-loader />